.main {
    margin: 15px;
    color: #f5f5f5;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
}

.card {
    background: #1c1c1c;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
    transition: background 0.3s, transform 0.3s;

    h3 {
        color: #fff;
    }

    p {
        color: #ccc;
    }

    &:hover {
        background: #2a2a2a;
        transform: translateY(-3px);
    }
}