.main {
    margin: 15px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
        filter: grayscale(100%);
        /* black & white images */
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
        transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
            filter: grayscale(0%);
            /* color reveal on hover */
        }
    }
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
}