.slider-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #000;
    cursor: pointer;

    .slide {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        color: #fff;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #000, #333);
        /* black gradient */
        opacity: 0;
        transition: all 1s ease-in-out;

        .slide-content {
            text-align: center;
            max-width: 600px;

            h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                color: #ccc;
            }
        }
    }

    .slide.active {
        left: 0;
        opacity: 1;
        z-index: 1;
    }
}