<nav>
  <div class="nav-left">
    <img src="/logo.jpg" class="nav-logo" alt="Logo" />
    <!-- <span class="brand-name">MySite</span> -->
  </div>

  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
    <a routerLink="/news" routerLinkActive="active" class="nav-link">News</a>
    <a routerLink="/events" routerLinkActive="active" class="nav-link">Events</a>
    <a routerLink="/gallery" routerLinkActive="active" class="nav-link">Gallery</a>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>