.main {
    margin: 15px;
}
h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
}

.event-card {
    background: #1a1a1a;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
    margin-bottom: 1.5rem;
    transition: transform 0.3s, background 0.3s;

    h3 {
        margin-top: 0;
        color: #fff;
    }

    p {
        color: #ccc;
    }

    &:hover {
        transform: translateY(-5px);
        background: #2a2a2a;
    }
}